{% extends 'base.html' %}

{% block menuactive %}
<li class="mr-8"><a class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700" href="{% url 'home' %}"
    data-config-id="auto-txt-1-1">Home</a></li>
<li class="mr-8"><a class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700" href="{% url 'cats' %}"
    data-config-id="auto-txt-1-1">Categories</a></li>
<li class="mr-8"><a class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700 active"
    href="{% url 'arts' %}" data-config-id="auto-txt-4-1">Arts</a></li>
{% endblock menuactive %}

{% block burgmenu %}
<li class="mb-9"><a class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700" href="{% url 'home' %}"
    data-config-id="auto-txt-7-1">Home</a></li>
<li class="mb-9"><a class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700" href="{% url 'cats' %}"
    data-config-id="auto-txt-7-1">Categories</a></li>
<li class="mb-9"><a class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700 active"
    href="{% url 'arts' %}" data-config-id="auto-txt-10-1">Arts</a></li>
{% endblock burgmenu %}

{% block row %}
<div class="col-lg-12 col-md-12 mt-2">
  <div class="row">
    <div class="cats">
      <div class="cat"></div>
      <div class="cat">
        {% if cat_selected == 0 %}
        <label class="selc_cat">All</label>
        {% else %}
        <a href="{% url 'arts' %}">All</a>
        {% endif %}

        {% for c in cats|dictsort:"title" %}
        {% if c.arts__count > 0 %}
        {% if c.pk == cat_selected %}
        <label class="selc_cat">{{ c.title }}</label>
        {% else %}
        <a href="{{ c.get_cat_url }}">{{ c.title }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="cat"></div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 mt-2">
  {% block content %}
  <div class="row">
    {% for c in arts %}
    {% if c.is_publish == True %}
    <div class="col-lg-4 col-md-6 mt-4">
      <div class="card art-cards p-2">
        <div class="over">
          <a href="{{ c.get_absolute_url }}">
            <img src="{{c.image.url}}" class="card-img-top" alt="">
          </a>
          <div class="over-img">
            <figcaption class="hide">
              <label>{{ c.title }} - </label>
              {% for ca in cats %}
              {% if c.cat_id == ca.pk %}
              <a href="{{ ca.get_cat_url }}">{{ c.cat }}</a>
              {% endif %}
              {% endfor %}
            </figcaption>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% if page_obj.has_other_pages %}
  <section class="mt-5 list-pages">
    <ul class="page-num">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">
        <li>Previous</li>
      </a>
      {% endif %}

      {% for pg in page_obj.paginator.page_range %}
      {% if page_obj.number == pg %}
      <a href="?page={{ pg }}" class="page-active">
        <li>{{ pg }}</li>
      </a>
      {% elif pg >= page_obj.number|add:-2 and pg <= page_obj.number|add:2 %} <a href="?page={{ pg }}">
        <li>{{ pg }}</li></a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
          <li>Next</li>
        </a>
        {% endif %}
    </ul>
  </section>
  {% endif %}
  {% endblock content %}
</div>

{% endblock row %}