{% extends 'base.html' %}

{% block row %}
<div class="col-lg-2 col-md-12 mt-4">
</div>

<div class="col-lg-8 col-md-12 mt-4">
{% block content %}
<div class="mt-4 sh-img">
    <div class="position-img">
        {% if art.image %}
        <img class="img-f-art" src="{{art.image.url}}">
        {% endif %}
    </div>
  </div>
  <div class="about-art-wrap">
    <div class="about-art">
      {% for c in cats %}
      {% if art.cat_id == c.pk %}
      <li>
        <label>Category:
          <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
        </label>
      </li>
      {% endif %}
      {% endfor %}
      <li>
        <label>adding time: {{ art.time_create }}</label>
      </li>
    </div>
  </div>
{% endblock content %}
</div>

<div class="col-lg-2 col-md-12 mt-4">
</div>
{% endblock row %}
