{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
  <div class="some-cont">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        {% for i in count %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{i}}"
          class="{% if forloop.counter0 == 0 %}active{% endif %}" aria-current="true"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for h in homepage %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
          <img src="{{h.image.url}}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="my-1 sm-text">{{h.title}}</h5>
            <p class="sm-text">{{h.content}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
{% endblock content %}

{% block post %}
<div class="row sidebarmain mt-4">
  {% for p in posts %}
  <div class="col-lg-12 sidebar mt-4">
    <div class="posts">
      <label class="user-name rounded-full disabled">{{p.user}}</label>
    </div>
    {% if p.title %}
    <div class="title">
      <label><span>Title: </span>{{p.title}}</label>
    </div>
    {% endif %}
    <p>{{p.content}}</p>
    <div class="date-tm">
      <label class="date-lab">{{p.time_create}}</label>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock post %}