.wrappers {
    height: 600px;
    width: 580px;
    margin: 0;
    padding-top: 0;
}

.cat-select {
    font-size: 1.2em;
    margin-top: 20px;
}

.cat-select label {
    margin-left: 5px;
    margin-right: 20px;
}

.cat-select select {
    font-size: 0.85em;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background-color: whitesmoke;
}