.wrappers {
    height: 520px;
}

.wrappers.active {
    height: 440px;
}

.error-text ul {
    list-style-type: none;
    float: right;
}

.error-text li {
    color: red;
    font-size: 0.9em;
}

.emlab {
    transition: all 200ms;
}

.formlab:focus~.emlab,
.formlab:valid~.emlab {
    transform: translate3d(0, -175%, 0);
}